<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="true">

    <!-- 加载属性文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:proper/jdbc.properties</value>
                <value>classpath*:proper/common.properties</value>
                <value>classpath*:proper/mongodb.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <context:component-scan base-package="com.feiyahan.hanfei">
        <context:include-filter type="regex" expression="com.feiyahan.hanfei.service.*Service.*"/>
        <context:exclude-filter type="regex" expression="com.feiyahan.hanfei.web.*.*"/>
    </context:component-scan>

    <!--导入sub spring配置文件-->
    <import resource="classpath*:spring/spring-mvc-config.xml"/>
    <import resource="classpath*:spring/spring-mongodb-config.xml"/>

    <!--异步线程池-->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!--核心线程数-->
        <property name="corePoolSize" value="15"/>
        <!--最大线程数-->
        <property name="maxPoolSize" value="20"/>
        <!--队列最大数-->
        <property name="queueCapacity" value="25"/>
        <!--空闲时间 超过空闲时间该线程则会被终止-->
        <property name="keepAliveSeconds" value="1000"/>
    </bean>
</beans>